a {
  color: #000;
}

a:-webkit-any-link {
   color: -webkit-link;
   text-decoration: none;
   cursor: auto;
 }

.admin-page {
  padding: 16px;
}

/*-----Admin menu-----*/

.admin-menu nav a {
  font-size: 24px;
  padding: 0 16px 0 0;
  cursor: pointer;
}

.admin-menu nav a:hover {
  color: #757575;
}

.admin-menu .active {
  font-weight: bold;
}

.added-new {
  text-align: right;
}

/*-----Tables-----*/

.table {
  border-collapse: collapse;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  width: 100%;
}

thead tr,
thead th {
  background: #000;
  font-weight: bold;
  color: #fff;
}

.icon-button {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  height: 36px;
  margin: 0 auto;
  padding: 0;
  width: 36px;
}

th {
  box-sizing: border-box;
  padding: 8px 0;
}

tr {
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #eee; }

tr:nth-child(2n) { background: #eee; }

.actions {
  text-align: center;
}

.actions a {
  cursor: pointer;
}

/*-----Notification table-----*/

.text-comment {
  text-align: justify;
}

.quest-name {
  text-align: center;
}


/*-----Quests table-----*/

.questName, .username {
  cursor: pointer;
}

.questName:hover, .username:hover {
  color: #757575;
}

.coast, .numberOfPersons, .projectName {
  text-align: center;
}

a.icon-button {
  padding: 11px 8px;
}

a.icon-button img {
  vertical-align: middle;
}

/*-----Users table-----*/

.userId, .role, .forfeits {
  text-align: center;
}

.username { text-align: center; }

.delete-user-button {
  position: relative;
  left: 40%;
}

/*-----Modals-----*/

.modal-title-divider {
  background: #00695c;
  border: 0;
  border-radius: 1px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  height: 2px;
}

#added-new-error-message {
  color: red;
  display: none;
}