.mini-photo-gallery {
  margin: 5px;
  position: relative;
  left: 0;
}

.number-of-persons>img { vertical-align: middle; }

.quest-name {
  margin: 0;
  text-align: left !important;
  font-size: 32px;
  font-weight: bold;
}

.quest-project-name {
  margin: 16px 0;
  text-align: right;
}

.quest-description-button {
  margin-top: 16px;
}

table {
  border-collapse: collapse
}

thead td {
  background: #000;
  font-weight: bold;
  color: #fff;
}

td {
  padding: 8px 16px;
  border: 1px solid #000;
  text-align: center;
}

.quest-description {
  /*padding: 0 16px;*/
  box-sizing: border-box;
}
.description {
  text-align: justify;
}

.address-of-quest { font-weight: bold; }

/*-----Quest comments styles-----*/

.quest-comment {
  box-sizing: border-box;
  border: 1px solid #eee;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .3);
  padding: 16px;
}

.quest-comment-divider {
  background: #00695C;
  border: 0;
  border-radius: 1px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  height: 3px;
}

.quest-comment-title>.quest-rating {
  position: relative;
  text-align: right;
}

.quest-photo-gallery img {
  height: 550px;
  width: 1100px;
}

.username {
  margin: 0;
  font-size: 18px;
}

.username:hover {
  cursor: pointer;
  color: #757575;
}

.time-comment { color: #757575; }

/*-----Slider styles-----*/
/*.slider {*/
  /*height: 550px;*/
  /*overflow: hidden;*/
  /*position: relative;*/
  /*z-index: 9;*/
/*}*/

/*.slider ul,*/
/*.slider li {*/
  /*list-style-type: none;*/
  /*margin: 0;*/
  /*padding: 0;*/
/*}*/

/*.slider ul {*/
  /*width: 9999px;*/
/*}*/

/*.slider ul li {*/
  /*height: 550px;*/
  /*float: left;*/
  /*list-style-type: none;*/
  /*width: 1100px;*/
/*}*/

/*.slider .nav {*/
  /*bottom: 10px;*/
  /*left: 15px;*/
  /*position: absolute;*/
/*}*/

/*.slider .nav .on { background: #00695c; }*/

/*.slider .nav span {*/
  /*background: #fff;*/
  /*border-radius: 8px;*/
  /*box-shadow: 0 1px 2px #000;*/
  /*cursor: pointer;*/
  /*display: block;*/
  /*float: left;*/
  /*height: 16px;*/
  /*margin-right: 8px;*/
  /*opacity: .9;*/
  /*overflow: hidden;*/
  /*width: 16px;*/
/*}*/


/*-----Slider styles v2-----*/
.slider {
  height: 550px;
  overflow: hidden;
  position: relative;
  z-index: 9;
  margin: 0;
}
.slider ul {
  height: 550px;
  padding: 0;
  margin: 0;
}
.slider ul li {
  height: 550px;
  float: left;
  list-style-type: none;
  width: 100%;
}

.slider-arrow {
  z-index: 99;
  position: absolute;
  background: black;
  width: 5%;
  height: 550px;
  text-align: center;
}

.slider-arrow img {
  width: 64px;
}

.slider-arrow img:hover {
  cursor: pointer;
}

.right-arrow{
  top: 0;
  right: 0;
}