.description {
    margin-top: 7%;
}

.quest-page {
    margin: 0;
    width: 90%;
}

.quest-photo-gallery {
    float: left;
}

.quest-description {
    margin: 10% 0;
}

.quest-description-title {
    text-align: right;
}

.mini-photo-gallery {
    margin: 5px;
    position: relative;
    right: 42px;
}

.icon-button {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    display: inline;
    height: 30px;
    margin: 0 15px;
    width: 30px;
}

.quest-description-button {
    display: inline-block;
    float: left;
    text-align: left;
}

.quest-comments {
    clear: both;
    margin: auto;
    width: 75%;
    padding: 5%;
}

.quest-comment {
    border: 1px solid #eee;
    border-radius: 2px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.number-of-persons>img {
    vertical-align: middle;
}

.address-of-quest {
    font-weight: bold;
}

.time-comment {
    color: #757575;
}

.quest-comment-divider {
    background: #00695C;
    border: none;
    border-radius: 1px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    height: 3px;
}
