.icon-button {
    background: none;
    height: 20px;
    margin: 0 20px;
    padding: 0;
    width: 20px;
}

.user-info {
    text-align: right;
}

.user-photo-gallery {
    height: 300px;
    width: 100%;
}

.user-gallery-item {
    clear: both;
    padding-top: 5%;
}

.quest-user-photo {
    height: 280px;
    margin-top: 10px;
    width: 380px;
}

.user-page {
    margin: 5% auto;
    width: 75%;
}

.user-page .img-chevron {
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 150px;
}

.item-divider {
    background: #00695C;
    border: none;
    border-radius: 1px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    height: 2px;
}

.quest-name {
    font-size: 20px;
    font-weight: bold;
}

.time-added-comment {
    color: #757575;
    font-size: 14px;
}

.quest-rating {
    position: relative;
    bottom: 20px;
    left: 90%;
}

hr {
    background: #00695C;
    border: none;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    height: 2px;
}