.row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  flex-flow: row wrap;
  width: 100%;
}

@media(min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
  .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    margin: 1% auto;
  }

  .col-md-1 { width: 8.3%; }

  .col-md-2 { width: 16.3%; }

  .col-md-3 { width: 23%; }

  .col-md-4 { width: 32%; }

  .col-md-5 { width: 41.5%; }

  .col-md-6 { width: 49.5%; }

  .col-md-7 { width: 58%; }

  .col-md-8 { width: 65%; }

  .col-md-9 { width: 74.7%; }

  .col-md-10 { width: 83%; }

  .col-md-11 { width: 91.3%; }

  .col-md-12 { width: 99.6%; }

  .offset-md-1 { margin-left: 8.3%; }

  .offset-md-2 { margin-left: 16.6% }

  .offset-md-3 { margin-left: 24.9%; }

  .offset-md-4 { margin-left: 33.2%; }

  .offset-md-5 { margin-left: 41.5%; }

  .offset-md-6 { margin-left: 49.8%; }

  .offset-md-7 { margin-left: 58.1%; }

  .offset-md-8 { margin-left: 66.4%; }

  .offset-md-9 { margin-left: 74.7%; }

  .offset-md-10 { margin-left: 83%; }

  .offset-md-11 { margin-left: 91.3%; }

  .offset-md-12 { margin-left: 99.6%; }

  .offset-md-1 { margin-right: 8.3%; }

  .offset-md-2 { margin-right: 16.6% }

  .offset-md-3 { margin-right: 24.9%; }

  .offset-md-4 { margin-right: 33.2%; }

  .offset-md-5 { margin-right: 41.5%; }

  .offset-md-6 { margin-right: 49.8%; }

  .offset-md-7 { margin-right: 58.1%; }

  .offset-md-8 { margin-right: 66.4%; }

  .offset-md-9 { margin-right: 74.7%; }

  .offset-md-10 { margin-right: 83%; }

  .offset-md-11 { margin-right: 91.3%; }

  .offset-md-12 { margin-right: 99.6%; }
}
