li {
    display: inline;
    list-style-type: none;
}

.log-in-button {
    position: relative;
    top: 5px;
}

.icon-button {
    background: none;
    height: 20px;
    margin: 0 20px;
    padding: 0;
    width: 20px;
}

.user-gallery {
    float: left;
    width: 82%;
}

.user-info {
    float: right;
    text-align: center;
}

.user-photo {
    background: #00695C;
    border: none;
    border-radius: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    height: 150px;
    width: 150px;
}
.user-photo img {
    margin: 0 auto;
}

.user-photo-gallery {
    border: 1px solid #eee;
    border-radius: 2px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}

.quest-user-photo {
    margin: 10px 5px;
}

.quest-user-photo:first-child {
    margin-left: 0;
}

.img-chevron {
    position: relative;
    bottom: 65px;
}

.item-divider {
    background: #00695C;
    border: none;
    border-radius: 1px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    height: 2px;
}